:root{
    --text:#0d0f0b;
    --background:#968754;
    --primary:#362704;
    --secondary:#777778;
    --accent:#456032;

    --white:#ffffff;
    --light:#f4f1e8;}

/* Reset */

*{margin:0;
    padding:0;
    box-sizing:border-box;}

body{font-family:Arial, Helvetica, sans-serif;
    background:var(--background);
    color:var(--text);
    line-height:1.6;}


/* =======================
HEADER
======================= */

header{display:flex;
    justify-content:space-between;
    align-items:center;
    background:var(--primary);
    padding:20px 50px;}

.logo-container{display:flex;
    align-items:center;
    flex-shrink:0}

.logo{width:220px;
    height:auto;
    border-radius:0;
    border:none;
    display:block;}

.company-name{color:white;}

/* =======================
NAVIGATION
======================= */

nav ul{display:flex;
    list-style:none;
    gap:20px;}

nav a{text-decoration:none;
    color:white;
    padding:10px 20px;
    border:2px solid white;
    transition:.3s;}

nav a:hover{background:var(--accent);}

.social-icons a{color:white;
    font-size:24px;
    margin-left:15px;}


/* =======================
HERO
======================= */

.hero {position: relative;
    width: 100%;
    height: auto;
    max-height: 1000px;
    overflow: hidden;
    background: black;}

.hero video {width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    background:black;
    display: block;}

.hero::before {content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.45);}

.hero-text{position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
    z-index:2;}

.hero h1{font-size:60px;}

.hero h3{font-size:30px;
    margin:20px 0;}

.button{display:inline-block;
    text-decoration:none;
    background:var(--accent);
    color:white;
    padding:15px 40px;
    border-radius:5px;
    margin-top:20px;
    transition:.3s;}

.button:hover{background:var(--primary);}

.hero-title {
    text-align: center;
    padding: 40px 20px;
    background: #968754;}

.hero-title h1 {
    font-size: 48px;
    color: var(--primary);}

.hero-title h3 {
    font-size: 24px;
    color: var(--accent);
    margin: 10px 0 20px 0;}

.hero-title .button {
    display: inline-block;
    text-decoration: none;
    background: var(--accent);
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    transition: .3s;}

.hero-title .button:hover {
    background: var(--primary);}


/* =======================
MISSION OVERLAY
======================= */

.mission.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 450px;
    overflow: hidden;
    border-radius: 10px;}


.mission.overlay img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;}


.mission-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary);
    text-align: center;
    width: 80%;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    background: none;}

.mission-text h2 {
    margin-bottom: 25px;
    font-size: 32px;
    letter-spacing: 2px;
    color: var(--primary)}

.mission-text p {
    font-size: 25px;
    line-height: 1.5;
    font-weight: 600;
    color: white}


/* =======================
CONTENT GRID
======================= */

.content-grid{display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    padding:50px;}

.survey {background: var(--accent);
    padding: 30px;
    border-radius: 10px;
    color: white;
    text-align: center;}

.survey h2{text-align:center;
    font-size:40px;
    margin-bottom:20px;
    color:var(--primary);}

.survey label{display:block;
    margin-top:20px;
    text-align:center;}

.survey input[type=submit]:hover{background:var(--primary);}
.survey select,
.survey textarea{
    width:80%;
    padding:10px;
    margin-top:5px;
    border-radius:5px;
    border:none;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;}

.survey input[type=submit]{
    background:var(--accent);
    color:white;
    border:none;
    margin-top:25px;
    cursor:pointer;
    font-size:18px;}

.survey input[type=submit]:hover{
    background:var(primary);}


/* =======================
FOOTER
======================= */

footer{display:grid;
    grid-template-columns:repeat(4,1fr);
    background:var(--primary);
    color:white;
    padding:40px;}

.footer-column{text-align:center;}

.footer-column h3{margin-bottom:15px;}

.footer-column a{color:white;
    text-decoration:none;}

.footer-column a:hover{color:var(--background);}


/* =======================
MEET THE CLUB
======================= */

.club-title {
    text-align: center;
    padding: 40px 20px;
    background: var(--light);}

.club-title h1 {
    font-size: 60px;
    color: var(--primary);}

.club-title p {
    font-size: 22px;
    color: var(--accent);
    margin-top: 10px;}

.club-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px;}

.member-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2)}

.member-card img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;}

.member-card h2 {
    color: var(--primary);
    margin-bottom: 15px;}

.member-card p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--text);}

.member-qa {
    margin-top: 25px;
    text-align: center;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 12px;
    border: 2px solid var(--accent);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);}

.member-qa h3 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 1px;}

.member-qa .answer {
    font-size: 18px;
    color: var(--text);
    margin-top: 8px;
    padding: 12px;
    background: white;
    border-radius: 8px;
    border: 1px solid var(--accent);
    display: inline-block;
    width: 90%;} 


/* Hunter Safety Page */

.safety-title {
    text-align: center;
    padding: 40px 20px;}

.safety-title h1 {
    font-size: 60px;
    color: var(--primary);}

.safety-title p {
    font-size: 22px;
    color: var(--accent);}

.safety-photos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    flex-wrap: wrap;}

.safety-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid var(--accent);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);}

.photo-box {
    width: 300px;
    height: 200px;
    background: #eaeaea;
    border: 2px solid var(--accent);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--primary);
    font-weight: 600;}

.photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;}

/* =======================
HUNTER SAFETY PAGE
======================= */
.safety-tips {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;}

.safety-tips h2 {
    text-align: center;
    font-size: 40px;
    color: var(--primary);
    margin-bottom: 20px;}

.safety-tips ul {
    list-style: none;
    padding: 0;}

.safety-tips li {
    background: #f7f7f7;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid var(--accent);
    border-radius: 8px;
    font-size: 20px;}

/* =======================
RESPONSIVE
======================= */

@media(max-width:900px){

header{display:grid;
    grid-template-columns:1fr;
    justify-items:center;
    gap: 20px;}

nav ul{flex-direction:column;
    margin:20px 0;}

.content-grid{grid-template-columns:1fr;}

footer{grid-template-columns:1fr;
    gap:30px;}

.hero h1{font-size:40px;}

.hero h3{font-size:22px;}
}